*{
    margin: 0;
    padding: 0;
}
.cuerpo{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    color: red;
}
header,section,footer,aside,nav,article,hgroup{
    display: block;
}
body{
    text-align: center;
}
.agrupar{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    background: white;
}
/* Cabezera ========================================== */
.cabezera{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    color: white;
}
.cabezera h1{
    text-align: left;
}
/* Barra de navegación ================================== */
.menu{
    background: #071d49;
    padding: 0px 10px;
    color: white;
    text-align: left;
    overflow: hidden;
    
}
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 19px;
    
  }
.menu a:hover {
    background-color: rgb(55, 184, 243);
    color: black;
 }
.menu a.active {
    background-color: #04AA6D;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* ===================================================== */
  /* Articulos =========================================== */
article{
    background: #e6e6fa;
    padding: 20px;
    margin-bottom: 15px;
 }
div .fecha_hora{
    color: black;
    text-align: left;
 }
article footer{
    text-align: right;
    margin-top: 20px;
 }
p{
    margin-top: 20px;
}
.portada{
    width: 300px;
    height: 400px;
    border: 3px solid red;
    margin-bottom: 10px;
 }
.descripcion{
    text-align: justify;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 0px;
}
/* ======================================================== */
.seccion{
    margin: 5px;
    width: 71%;
    float: left;
}
.columna{
    background: #fad507;
    margin:0;
    width: 28%;
    float: left;
}
.columna blockquote{
    background: #062074;
    padding: 10px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 5px;
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 15px;
}
.foto_autor{
    width:120px;
    height:120px;
    border:2px solid white;
}
.columna h1{
    text-align: center;
}
.pie{
    clear: both;
    padding: 10px;
    background: #34495e;
    color: white;
}
/* Sección de Comentarios ================== */
form{
    /* text-align: center; */
}
legend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 18px;
    margin-bottom: 5px;
}
textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    resize: vertical;
    padding: 5px;
}
.div_boton_enviar{
    text-align: left;
    padding-left: 18px;
}
.boton_enviar{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90px;
    height: 30px;
    background: rgb(7, 42, 133);
    color:rgb(110, 145, 235);
    
}
.boton_enviar:hover{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background: rgb(7, 42, 133);
    color:rgb(224, 228, 238);
}
.boton_enviar:active{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background: rgb(2, 20, 66);
    color:rgb(224, 228, 238);
}
footer{
    background: white;
    padding-top:5px;
    padding-bottom: 5px;
}
address{
    padding-top: 10px;
    padding-bottom:10px;
}
.enlace_descarga{
    text-decoration: none;
    background-color: brown;
    color: rgb(243, 174, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
}
.enlace_descarga:hover{
    text-decoration: none;
    background-color: brown;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
}
/* Form Login */
.form-login{
    height: auto;
}
.form-login .contenedor{
    text-align: left;
    margin: auto;
    width: 320px;
}
.form-login legend,.form-login label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 0px;
}
.form-login h1{
    text-align: center;
}
.form-login .entrada{
    margin-bottom: 15px;
    width: 300px;
    height: 25px;
}
.element{
    margin-top: 10px;
}
.btn-ingresar{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90px;
    height: 30px;
    background: rgb(7, 42, 133);
    color:rgb(110, 145, 235);
}
.btn-ingresar:hover{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background: rgb(7, 42, 133);
    color:rgb(224, 228, 238);
}
.btn-ingresar:active{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background: rgb(2, 20, 66);
    color:rgb(224, 228, 238);
}