*{
    margin: 0;
    padding: 0;
}
address{
    padding-top: 20px;
    padding-bottom:20px;
}
.cuerpo{
    background: #FDFC47;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    color: red;
}
header,section,footer,aside,nav,article,hgroup{
    display: block;
}
body{
    text-align: center;
}
.agrupar{
    width: 960px;
    margin: 0px auto;
    padding: 0px;
    background: white;
}
.cabezera{
    background: #159957;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    color: white;
}
.cabezera h1{
    text-align: left;
}
.menu{
    background: #071d49;
    padding: 5px 15px;
    color: white;
    text-align: left;
}
.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    
}
article{
    background: #e6e6fa;
    padding: 20px;
    margin-bottom: 15px;

}
time{
    color: #999;
    text-align: right;
}
footer{
    background: white;
    padding-top:5px;
    padding-bottom: 5px;
}
article footer{
    text-align: right;
    margin-top: 20px;
}
article img{
    width: 300px;
    height: 400px;
    display: block;
    margin: 20px auto;
    
}
.seccion{
    margin: 20px;
    width: 65%;
    float: left;
}
.columna{
    background: #e6e6fa;
    margin: 20px 0;
    width: 27%;
    float: left;
}
.columna blockquote{
    border: 1px solid black;
    background: #062074;
    padding: 20px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 5px;
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 15px;
}
.foto_autor{
    width:120px;
    height:120px;
    border:2px solid white;
}
.columna h1{
    text-align: center;
}
.pie{
    clear: both;
    padding: 20px;
    background: #34495e;
    color: white;

}
p{
    margin-top: 20px;
}
.portada{
    width: 300px;
    height: 400px;
    border: 3px solid red;
}
.descripcion{
    text-align: justify;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 15px;
    margin-top: 0px;
    padding-top: 0px;
}